@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-size: 17px; */
  padding: 0;
  box-sizing: border-box;
  background-color: #252525;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}
i,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  padding: 0;
  margin: 0;
}
input:focus,
select:focus,
textarea:focus {
  outline: 0px;
}
.row,
.col-6,
.col-4 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: clamp(1rem, 7vw, 3rem);
  font-weight: 600;
  color: #29284a;
}

.p-main {
  font-size: clamp(1rem, 4vw, 1.8rem);

  color: #29284a;
}

.icon {
  font-size: clamp(0.5rem, 3vw, 1.2rem);
}

.bigText {
  font-size: clamp(1rem, 7vw, 3rem);
  font-weight: 200;
}
.phone {
  font-size: clamp(1rem, 4vw, 1.8rem);
  background-color: #6f9fdc;
  padding: 10px;
  border-radius: 10px;
  background: #6f9fdc;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.icon {
  height: 5vh;
}

/* Main */

.main_background {
  background-image: url("./img/ÜC X.png");
  /* background-repeat: no-repeat; */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 50px;
}

/* SHOP */
.section {
  width: 100%;
  padding-bottom: 6%;
  padding-top: 2%;
}
.sidebar_item {
  margin-bottom: 35px;
}
.sidebar_item h4 {
  color: #1c1c1c;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 25px;
}
.sidebar_item ul {
  margin: 0;
  padding: 0;
}
.sidebar_item ul li {
  list-style: none;
  display: flex;
}

.sidebar_item ul li a {
  font-size: 16px;
  color: #000000;
  line-height: 45px;
  display: block;
  font-family: "Open Sans", sans-serif;
}
.sidebar_item ul li img {
  width: 25px;
  object-fit: contain;
  margin-left: 20px;
}
.shop {
  margin-bottom: 50px;
}
.border-product {
  padding: 15px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background-color: #ffffff;
  /* max-height: 400px; */
}

.shopBack img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}
.shoptext {
  padding-top: 10px;
}
.shoptext p a {
  color: #252525;
}
.shoptext h3 {
  color: #252525;
  margin-top: 13px;
  font-weight: bold;
  font-size: 19px;
}
.rating {
  margin: 5px 0;
}
.rating i {
  font-size: 12px;
  color: #ebb450;
}
.rating span {
  margin-left: 10px;
}

/* Pagination */
.pagination .page-link {
  padding: 10px 30px;
  color: black;
}
.page-item.active .page-link {
  background-color: black;
  border: 1px solid black;
}

/* pagination */
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  width: 40px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  margin: 0 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  /* background: transparent; */
  background-color: #373737;
  color: rgb(255, 255, 255);
  border-color: #eee;
}

.pagination button.active {
  font-weight: 900;
  border-color: #101010;
  background: #ffe400;
  color: #101010;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.contenedorModal {
  width: 50%;
  min-height: 60%;
  /* max-height: 80%; */
  background-color: rgb(255, 255, 255);
  position: relative;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 8px 7px 29px 0px;
  padding: 20px;
}

.encabezadoModal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 20px; */
  padding-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
}
.encabezadoModal h3 {
  font-weight: 500px;
  font-size: 16px;
  color: #1766dc;
}

.botonCerrar {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 30px;
  height: 30px;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.3s ease all;
  border-radius: 5px;
  color: #1766dc;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.botonCerrar:hover {
  background: #c05e5e;
  color: #f2f2f2;
}

svg {
  width: 100%;
  height: 100%;
}
.img-card {
  width: 100%;
  height: 250px;
  object-fit: contain;
}
